.user-table-unit{
    margin-left: 5px;
    padding:2px;
}
span.user-status.admin{
    background: #ED090C;
}
span.user-status.user{
    background: #1D43A1;
}
.user-table-img{
    position: relative; 
    margin:5px; 
    height:30px;
    width:30px;
}

.user-img{
    border: 3px solid #787FCA;
    height:200px;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 10px;
    width:200px
}
  
.btn-user{
    margin-left: 10px;

}

.user-filter{
    width:88%;
    margin-bottom: 20px;
}

.user-page-status{
    margin-left: 5px;
    padding:2px;
}
.user-page-sect{
    padding: 50px;
}
.user-page-login{
    font-size: 32px;
    padding: 8px;
}