
div.track-list-container{
  width: 80%;
  margin-left: 10%;
}

div.track-list-container ul {
	  list-style-type:none;	
    background: #AFAFAF;
    border-radius: 25px;
    padding: 20px;
}
div.track-list-container ul li {
  background:white;
  border-radius: 25px;
  margin: 5px;
}

div.track-list-container a:link, a:visited {
  background-color: #4C62AF;
  border-radius: 25px;
  margin: 2px;
  color: white;
  padding: 14px 25px;
  width: 92%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


div.track-list-container a:hover {
  background-color: #555;
  color: white;
}
