<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
  <title>MyZaGa</title>
</head>

<body>

  <div class=wrapper>
    <div id="main-bar">
      <div class="logo">
        <img src="images/logo.png" id="logo-image">
        <span id="logo-text">MyZaGa</span>
      </div>
    </div>

    <ul class="menu-bar">
      <li class="menu-opt"><a href="index.html">Home</a></li>
      <li class="menu-opt"><a href="users.html">Users</a></li>
      <li class="menu-opt"><a href="tracks.html">Tracks</a></li>
      <li class="menu-opt"><a class="active" href="about.html">About</a></li>
    </ul>

    <div id="page-content">
      <div class="center vis-text">
        <h1>About</h1>
      </div>
      <div class="vis-text center">
        <p>MyZaGa is an online audio distribution platform and music sharing website based in Kyiv,Ukraine.</p>
        <p>It enables its users to upload, promote, and share audio.</p>
        <p>It was created by a student of National Technical University of Ukraine Moroz Mykhailo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar suscipit facilisis. Nam lectus augue, egestas
          eget orci a, elementum sodales ligula. Vivamus eget sapien vitae purus commodo commodo id non urna. Etiam pretium
          arcu arcu, eget tincidunt nisl pretium sit amet. Ut pretium scelerisque felis et egestas. Nulla leo mauris, scelerisque
          viverra massa dapibus, tristique vestibulum nibh. Nunc sodales mauris quam, semper bibendum lorem pharetra nec.
          Quisque consequat tempor enim porttitor varius. Pellentesque a eros porttitor, eleifend libero ac, congue dui.
          Integer consequat purus id hendrerit ullamcorper. Nunc imperdiet, orci ut tincidunt accumsan, tortor ante malesuada
          ligula, auctor hendrerit enim ex ut libero. Quisque vitae dapibus mi. Sed sollicitudin, enim eget vestibulum maximus,
          ligula lacus fermentum sem, quis imperdiet lacus elit in sem. Nullam nec augue a diam sollicitudin aliquet in a
          ligula. </p>

      </div>
    </div>
  </div>



</body>

</html>