<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" href="../stylesheets/style.css" rel="stylesheet" />
  <link type="text/css" href="../stylesheets/track.css" rel="stylesheet" />
  <title>MyZaGa</title>
</head>

<body>

  <div class=wrapper>
    <div id="main-bar">
      <div class="logo">
        <img src="../images/logo.png" id="logo-image">
        <span id="logo-text">MyZaGa</span>
      </div>
    </div>

    <ul class="menu-bar">
      <li class="menu-opt"><a href="../index.html">Home</a></li>
      <li class="menu-opt"><a href="../users.html">Users</a></li>
      <li class="menu-opt"><a class=active href="../tracks.html">Tracks</a></li>
      <li class="menu-opt"><a href="../about.html">About</a></li>
    </ul>

    <div id="page-content">
      <div class="center vis-text">
      </div>
      <div class="vis-text track-info">
        <img src="../images/tracks/drenaj.jpeg">
        <div class="track-name">ДУШЕВНО</div>
        <div class="track-desc">by ДРЕНАЖНАЯ ЯМА</div>
        <audio controls>
          <source src="data/1.mp3" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>
</body>

</html>