<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="../stylesheets/style.css" rel="stylesheet" />
    <title>Vityok`s profile</title>
</head>

<body>


    <div class=wrapper>
        <div id="main-bar">
            <div class="logo">
                <img src="../images/logo.png" id="logo-image">
                <span id="logo-text">MyZaGa</span>
            </div>
        </div>

        <ul class="menu-bar">
            <li class="menu-opt"><a href="../index.html">Home</a></li>
            <li class="menu-opt"><a class=active href="../users.html">Users</a></li>
            <li class="menu-opt"><a href="../tracks.html">Tracks</a></li>
            <li class="menu-opt"><a href="../about.html">About</a></li>
        </ul>

        <div id="page-content">
            <div class="center vis-text">
                <h1>Vityok`s profile</h1>
            </div>
            <div class=vis-text>
                <div class="user-info-table">
                    <img src="../images/users/user1.jpeg" alt="Avatar">
                    <div class="user-data"><b>Login: </b>Vityok</div>
                    <div class="user-data"><b>Full name: </b>Vitya Dolgonocik</div>
                    <div class="user-data"><b>Registration data: </b>01.13.1928</div>
                    <p><b>Bio: </b>ну ето блин я ваще нормальный пацан музягу слушаю! </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>