<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />

  <title>MyZaGa</title>
</head>

<div class=wrapper>

  <body>
    <div id="main-bar">
      <div class="logo">
        <img src="images/logo.png" id="logo-image">
        <span id="logo-text">MyZaGa</span>
      </div>
    </div>

    <ul class="menu-bar">
      <li class="menu-opt"><a href="index.html">Home</a></li>
      <li class="menu-opt"><a class="active" href="users.html">Users</a></li>
      <li class="menu-opt"><a href="tracks.html">Tracks</a></li>
      <li class="menu-opt"><a href="about.html">About</a></li>
    </ul>

    <div id="page-content">
      <div class="center vis-text">
        <h1>Users:</h1>
      </div>
      <div class="vis-text user-table">
        <div class=user-link-container>
          <table>
            <tr>
              <th>Login</th>
              <th>Fullname</th>
              <th>Registered</th>
            </tr>
            <tr>
              <td><a href="users/user1.html">Vityok</a> <span class="user-status online">online</span></td>
              <td>Vitya Dolgonocik</td>
              <td>01.13.1928</td>
            </tr>
            <tr>
              <td><a href="users/user2.html">djigolo</a> <span class="user-status offline">offline</span></td>
              <td>Sanya Chort</td>
              <td>32.02.2019</td>
            </tr>
          </table>
          </span>
        </div>
      </div>
    </div>
  </body>

</html>