.auth-bg{
    background-image: url('/images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.header-bg{
    background-image: url('/images/user_header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-blue{
    background-color: #363688
}
  
.bg-gray{
    background-color: #D0D0D0;
}

header {
    padding: 154px 0 100px;
    min-height: 100%;
}

.def-sect {
    padding: 150px 0;
}
.flx-sect{
    padding: 150px 0;
    min-height: 900px;
}
  
