.track-info{
  margin: 100px;
  padding: 10px;
  padding-bottom: 100px;
  margin-left: 100px;
}
.track-info img{
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
  clear:both;
}
.track-desc{
  margin-top: 20px;
  font-size: 20px; 
}
.track-name{
  color: darkblue;
  margin-top: 20px;
  font-size: 30px; 
}
.track-info audio{
  margin-top: 30px; 
  width : 50%;
  min-width: 100px;
}
.action-button{
  text-decoration: none;
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 10px;
  background-color: #4C62AF;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
}
.action-button:hover{
  background-color: #35467F;
}
.right{
  margin-left: 72%;
}