
div.track-list-container{
  width: 80%;
  margin-bottom: 25px;
  margin-left: 10%;
}

div.track-list-container ul {
	  list-style-type:none;	
    background: #AFAFAF;
    border-radius: 25px;
    padding: 20px;
}
div.track-list-container ul li {
  background:white;
  border-radius: 25px;
  margin: 5px;
}

div.track-list-container a:link, a:visited {
  background-color: #4C62AF;
  border-radius: 25px;
  margin: 2px;
  color: white;
  padding: 14px 25px;
  width: 92.3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


div.track-list-container a:hover {
  background-color: #555;
  color: white;
}


.new-track-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.new-track-form.input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

form.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.new-track-form input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #4C62AF;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #35467F;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.page_refs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_track{
  margin: 10px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.page_refs a {
  margin: 10px;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.page_refs a:hover {
  background-color: #555;
  color: black;
}

.previous {
  
  background-color: #f1f1f1;
  color: black;
}

.next {
  text-align: right;
  background-color: #4C62AF;
  color: white;
}

#tsearch{
  width: 65%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 100px;
}
.search-info{
  margin-left: 100px;
  color: #8E8E8E
}